

.brand-wrapper {
	background-image: url("images/logo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width:360px;
	height:60px;
	background-size: 100%;
	margin-top: -20px;
}

.navbar-static-top {
	background: rgba(255,255,255,1) !important;
}

.btn-primary {
	background-color: rgb(2, 54, 105) !important;
	border-color: rgb(2, 54, 105) !important;
	color: white !important;

}

.btn-primary a:focus { 
	background-color: rgb(2, 54, 105) !important;
	border-color: rgb(2, 54, 105) !important;
	color: white !important;
}

.btn-info {
	background-color: rgb(2, 105, 225) !important;
	border-color: rgb(2, 105, 225) !important;
	color: white !important;
}

.btn-white {
	background-color: rgba(255,255,255,1) !important;
	border-color: white !important;
	color: rgb(2, 54, 105) !important;
}

.btn-menu {
	border-color: rgb(2, 54, 105) !important;
	color: rgb(2, 54, 105) !important;
	font-weight: bold !important;
}

.btn-warning {
	background-color: #F2AC25 !important;
	color: white !important;
	font-weight: bold !important;
}

ul.navbar-right > li {
	padding: 5px;
	margin-right: 10px;
}

.panel-heading{
	background-color: rgb(2, 54, 105) !important;
	border-color: rgb(2, 54, 105) !important;
	color: white !important;
}

.modal-header{
	background-color: rgb(2, 54, 105) !important;
	border-color: rgb(2, 54, 105) !important;
	color: white !important;
}

.panel-title{
	font-size:140%;
}

th{
	background-color: rgb(2, 54, 105) !important;
	border-color: white !important;
	color: white !important;
	text-align: center !important;
}

td{
	border-color: white !important;
}

#cotizaciones {
	background-color: #d9edf7 !important;
	border-color: #bce8f1 !important;
	color: #31708f !important;

}

.title-blue{
	color: rgb(2, 54, 105) !important;
}

.title-white{
	color: white !important;
}

.totalPosicionWrapper {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px;
}

.detallePosicion {
	color: white !important;
	background: #023669 !important;
	border-color: #023669 !important;
	font-weight: bold !important;
	border-width: 1px !important;
	border-style: solid !important;
	padding: 5px !important;
}

.campoObligatorio:after {
	/* background-color:rgba(242, 226, 0, 0.1) !important; */
	content : " (*)" !important;
	color: red !important;
}

*:not( i ) {
 	/*font-family: "Raleway","sans-serif" !important; 	*/
 	font-family: "Verdana",  sans !important;
 }


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgba(2, 54, 105,0.05);
}

.btn-green {
	float:right;
}

.container {
	width: 90% !important;
}

.menuSelected {
	background-color: rgb(2, 105, 225) !important;
	border-color: rgb(2, 105, 225) !important;
	color: white !important;
}